.logo-normal {
    text-decoration: none;
    font-size: 1.4rem !important;
}


/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
    width: 16rem;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.navbar .navbar-toggler.navbar-toggler-right {
    border: none;
    background-color: #ffffff00;
}

/* fix the width of the icons
.sidebar .nav-link i {
    width: 1rem;
} */

/* hide the navlink labels by default */
.sidebar-mini .sidebar .nav-link span {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
}

.container-fluid {
    padding: 0;
}

div#page-content {
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.col{
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.row{
    border: 1px solid rgba(0, 0, 0, 0.8);
}